@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
    font-family: 'BerkshireSwashRegular';
    src: url('../fonts/BerkshireSwashRegular.eot');
    src: url('../fonts/BerkshireSwashRegular.eot') format('embedded-opentype'),
        url('../fonts/BerkshireSwashRegular.woff2') format('woff2'),
        url('../fonts/BerkshireSwashRegular.woff') format('woff'),
        url('../fonts/BerkshireSwashRegular.ttf') format('truetype'),
        url('../fonts/BerkshireSwashRegular.svg#BerkshireSwashRegular') format('svg');
}

svg {
    max-width: 290px;
    height: 100%;
}

.nav-tabs {
    padding: 0 !important;
}

.nav-tabs>.nav-item>.nav-link {
    padding: 4px 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.card {
    max-width: 100%;
    margin: 0 auto;
}

.card-body {
    padding: 0px !important;
}

.input-edit {
    margin: 5px;
    padding: 10px 16px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background: #ddd;
}

.download-btn {
    background: #e3714c;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    #capture {
        max-width: 100%;
    }

    .bg-info {
        background-size: 100% !important;
    }

    .main-body {
        padding: 0 !important;
    }
}